/* переменные */
$width: 200px;

body{
  box-sizing: border-box;
  width: $width;
}

/* циклы */
@for $in from 1 to 3 {
    .b-$in { width: $in; }
}

/* вложенности */

.post{
  .blog{
    font-weight: 400;
  }
}
